@using maciejcaputablog.ViewModels
@model FaqViewModel
<div id="accordion" class="mt-4 w-50 mx-auto">
    @for (int index = 0; index < Model.AllFaqDomainModels.Count; index++)
    {
        var faq = Model.AllFaqDomainModels[index];
        if (index == 0)
        {
            <div class="card">
                <div class="card-header bg-white border border-dark" id="heading @faq.Title">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@faq.Title" aria-expanded="true" aria-controls="@faq.Title">
                            @faq.Title
                        </button>
                    </h5>
                </div>

                <div id="@faq.Title" class="collapse show " aria-labelledby="heading @faq.Title" data-parent="#accordion">
                    <div class="card-body">
                        @faq.Description
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header bg-white border border-dark" id="heading @faq.Title">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@faq.Title" aria-expanded="false" aria-controls="@faq.Title">
                            @faq.Title
                        </button>
                    </h5>
                </div>
                <div id="@faq.Title" class="collapse" aria-labelledby="heading @faq.Title" data-parent="#accordion">
                    <div class="card-body">
                        @faq.Description
                        </div>
                </div>
            </div>
        }

    }
</div>